@model TransaccionActualizacionViewModel

@{
    ViewData["Title"] = "Editar transaccion";

    var linkCancelar = Model.UrlRetorno ?? Url.Action("Index");
}

<h1>Editar transaccion</h1>
<h5>Una transaccion te permite indicar tus ingresos y gastos.</h5>

<br>

<form asp-action="Editar">
    <!-- Valida todo el modelo -->
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>

    <!-- valores a enviar en el metodo del controlador. -->
    <input type="hidden" asp-for="Id" />
    <input type="hidden" asp-for="MontoAnterior" />
    <input type="hidden" asp-for="CuentaAnteriorId" />

    <input type="hidden" asp-for="UrlRetorno" />


    <!--Campos del formulario-->

    <div class="mb-3">
        <label asp-for="FechaTransaccion" class="form-label"></label>
        <input asp-for="FechaTransaccion" class="form-control" />

        <div asp-validation-for="FechaTransaccion" class="text-danger"></div>
    </div>

    <div class="mb-3">
        <label asp-for="CuentaId" class="form-label"></label>
        <select asp-for="CuentaId" asp-items="Model.Cuentas" class="form-select"></select>

        <div asp-validation-for="CuentaId" class="text-danger"></div>
    </div>

    <div class="mb-3">
        <label asp-for="TipoOperacionId" class="form-label"></label>
        <select asp-for="TipoOperacionId" asp-items="Html.GetEnumSelectList<TipoOperacion>()" class="form-select"></select>

        <div asp-validation-for="TipoOperacionId" class="text-danger"></div>
    </div>

    <div class="mb-3">
        <label asp-for="CategoriaId" class="form-label"></label>
        <select asp-for="CategoriaId" asp-items="Model.Categorias" class="form-select"></select>

        <div asp-validation-for="CategoriaId" class="text-danger"></div>
    </div>

    <div class="mb-3">
        <label asp-for="Monto" class="form-label"></label>
        <input asp-for="Monto" class="form-control" />

        <div asp-validation-for="Monto" class="text-danger"></div>
    </div>

    <div class="mb-3">
        <label asp-for="Nota" class="form-label"></label>
        <textarea asp-for="Nota" class="form-control"></textarea>

        <div asp-validation-for="Nota" class="text-danger"></div>
    </div>

    <div class="mb-3">
        <button class="btn btn-primary">
            <i class="bi bi-pencil-fill"></i>
            Editar transaccion
        </button>
        
        <button class="btn btn-danger" asp-action="Borrar">
            <i class="bi bi-exclamation-triangle-fill"></i>
            Eliminar transaccion
        </button>
        
        <a class="btn btn-secondary" href="@linkCancelar">Cancelar</a>
    </div>

</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="~/js/FormularioTransacciones.js" asp-append-version="true"></script> <!--cargamos script de categorias-->

    <script>
        // codigo para obtener tipos operacion mediante un drop down en cascada.
        const urlObtenerCategorias = '@Url.Action("ObtenerCategorias")';

        $(function () {
            inicializarFormularioTransacciones(urlObtenerCategorias);
        })
    </script>
}