@model ReporteTransaccionesDetalladas

@{
    ViewData["Title"] = "Reporte Diario";
}

<partial name="_Submenu" model="SubMenuTransacciones.Diario"/>

<div class="mb-3" style="padding: 10px 0; color: royalblue">
    <p>Olvido algo? <a asp-action="Crear">Cree una nueva transaccion.</a></p>
</div>

<partial name="_ReporteTransaccionesDetalladas" model="Model" />
