@{
    ViewData["Title"] = "NO encontrado";
}

<!--Mensaje No encontrado-->
<div style="padding: 20px 0;align-items: center; color: royalblue; font-family: Calibri;">
    
    <h1 style="font-size: 60px">:(</h1>
    <h3>404 No encontrado.</h3>
    <p>El recurso solicitado no fue encontrado, ¿Perdido? <a asp-action="Index">Regresar al inicio.</a> </p>

</div>