@model ReporteTransaccionesDetalladas

@{
    ViewData["Title"] = "Movimientos cuenta";
}

<h1>Movimientos @ViewBag.Cuenta</h1>
<br />

<!-- vista parcial -->
<partial name="_ReporteTransaccionesDetalladas" model="Model" />